.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: var(--color-light);
    font-weight: var(--font-medium);
    color: var(--color-sub);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1.6rem;
    outline-width: 0;
    outline-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s ease-in-out;
  }